.page_advice {
    .adviceHeader {
        .span3 {
            @include flexJustify(center);
        }
    }
    ul.inline {
        padding: 0;
        li {
            margin-bottom: 0.6em;
        }
    }
    .moneyBg {
        background-image: url('//staffsunion.s3.amazonaws.com/2017/images/assets/advice/money_bg.jpg');
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        &:before {
            //include fixedBackground('//staffsunion.s3.amazonaws.com/2017/images/assets/advice/money_bg.jpg');
        }
    }
    .housingBg {
        background-image: url('//staffsunion.s3.amazonaws.com/2017/images/assets/advice/houses_bg.jpg');
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        &:before {
            //@include fixedBackground('//staffsunion.s3.amazonaws.com/2017/images/assets/advice/houses_bg.jpg');
        }
    }
    .hub {
        .span1, .span2, .span3 {
            margin-bottom: 1em;
        }
        .money, .housing  {
            padding: 1.6em 0.8em;
            background: rgba(0, 0, 0, 0.75);
            color: #fff;
            p {
                color: #fff;
            }
            ul {
                margin: 0;
                list-style: none;
                padding: 0;
                width: 100%;
                li {
                    width: 100%;
                    margin-bottom: 0.8em;
                    
                    a.blockLink {
                        width: 100%;
                    }
                }
            }
        }
        .academic {
            ul.inline {
                padding: 0;
                li {
                    margin-bottom: 0.6em;
                }
            }
        }
        .contactus {
            background: $grey;
            padding: 0 0.8em 0.8em;
            .status {
                text-align: center;
                &.open {
                    background: #5fce52;
                }
                &.closed {
                    background: #dc4343;;
                }
                p {
                    color: #fff;
                    padding: 0.2em 0 !important;
                }
            }
            .detail {
                @include displayFlex;
                .icon {
                    @include flexFixed(1.8em);
                    padding: 0.3em;
                }
                .text {
                    @include flex(1);
                }
            }
        }
        .nursing, .bullying, .disabilities, .marriage, .consumer, .international, .crime {
            text-decoration: none;
            color: #fff;
            padding: 1em 0.8em;
            text-align: center;
            @include displayFlex;
            @include flexAlign(center);
            @include flexJustify(center);
            &:hover {
                text-decoration: none;
                color: #fff;
            }
        }
        .housing {
            padding-bottom: 1.8em;
        }
        .marriage {

        }
        .consumer {

        }
        .international {

        }
        .academicReps {
            padding: 1.2em 0.8em;
            background: #fdeaec;
            .pure-u-lg-1-3 {
                @include displayFlex;
                @include flexAlign(center);
                @include flexJustify(center);
                padding: 0 0.4em;
                img {
                    width: 100%;
                }
            }
            .pure-u-lg-2-3 {

            }
        }
    }
}

/* Tablets*/
@media (min-width: 48em){
    .page_advice {
        .hub {
            .span1, .span2, .span3 {
                margin-bottom: 0em;
            }
        }
    }
}