/* Buttons styling */
.button, .btn, .blockLink {
  padding: 0.4em 0.8em;
  font-weight: 300;
  text-decoration: none;

  // A default colour of the Union's green
  background-color: $union_green;

  &:hover {
    text-decoration: none;
    background-color: $union_green_hover;

    &.greenBg:hover {
      background-color: darken($union_green, 5%);
    }
    &.pinkBg:hover {
      background-color: darken($pink, 5%);
    }
    &.redBg:hover {
      background-color: darken($blue, 5%);
    }
    &.cyanBg:hover {
      background-color: darken($cyan, 5%);
    }
    &.darkCyanBg:hover {
      background-color: darken($darkCyan, 5%);
    }
    &.adviceBg:hover {
      background-color: darken($advice_main, 5%);
    }
  }
}

.blockLink {
  display: -webkit-inline-block;
  display: inline-block;
}

/* Add Button */
.add, .msl_add {
  background: none;
  text-decoration: none;
  @include displayInlineFlex;
  @include flexAlign(center);
  padding: 0.4em 0.8em;

  &:hover {
    background: $union_green_hover_clear;
  }

  &:before {
    @include googleFont;
    @include flexFixed(1em);
    content: 'add';
    padding-right: 0.2em;
  }
}