/* Colours file */

$union_green: #50b848;
$union_green_dark: #388332;
$union_green_hover: #46a63f;
$union_green_hover_light: #5bcd52;
$union_green_hover_clear: rgba(80, 184, 72, 0.2);

$white: #fff;
$white_hover: rgba(255, 255, 255, 0.2);
