/* Colour variables file, do not create css classes in this file */

$union_green: #50b848;
$union_green_dark: #388332;
$union_green_hover: #46a63f;
$union_green_hover_light: #5bcd52;
$union_green_hover_clear: rgba(80, 184, 72, 0.2);
$union_green_not_active: #999;

$white: #fff;
$white_hover: rgba(255, 255, 255, 0.2);

// Colours imported from the Union's current design
$pink: #ec1e79;
$red: #E31836;
$red_hover_clear: rgba(227,24,54, 0.2);
$dark_red: darken($red, 30%);
$blue: #0096db;
$blue_hover_clear: rgba(0, 150, 219, 0.2);
$cyan: #54827c;
$darkCyan: #426661;
$white: #fff;
$grey: #eee;
$darkGrey: #454545;
$black: #000;

/* CAMPAIGN SPECIFIC COLOURS */
// Leadership Race
$leadership_race_bg: #1c1c1a;

/* Social Media Colours */
$facebook: #3A5A99;
$facebook_hover: #304d87;
$instagram: #517EA3;
$instagram_hover: #456d8e;
$snapchat: #FFEA00;
$snapchat_hover: #decc0b;
$twitter: #55ACEE;
$twitter_hover: #4a9bd9;
$youtube: #E52D27;
$youtube_hover: #cd241f;

/* Events */
// $event_highlight: $pink;
$event_highlight: $union_green;

/* Advice Purple */
/*
$advice_main: #7063d7;
$advice_main_hover: #6155c7;
$advice_main_dark: #2e266b;
*/
$advice_main: $union_green;
$advice_main_hover: $union_green_hover;
$advice_main_dark: $union_green_hover;

/* Social Media */
// $social_media_bg: rgba(29, 161, 244, 0.2);
$social_media_bg: rgba(80, 184, 72, 0.2);

/* Notifications */
$notification_generic: $union_green;
$notification_warning: #e98918;

/* Squeezebox */
$squeezebox: #f8991c;