/* Get Involved Dashboard */
.page_getinvolved main {
  .header {
    min-height: 35vh;
    background-image: url('https://staffsunion.s3.amazonaws.com/2017/images/assets/engagement/engagement_header_shaded.jpg');
    background-size: cover;
    background-position: top center;
  }

  #reps {
    padding: 0.8em 0;
    background: rgba(227, 24, 54, 0.1);
    .rowInner {
      @include flexAlign(center);
    }
    h2 {
      color: $red;
    }
    p {
      font-size: 1.4em;
      padding: 0.6em 0.6em;
      color: #fff;
      background: $red;
    }
    a {
      background: $red;
      padding: 0.6em 0.8em;
      width: 100%;
      display: block;
      margin: 0.4em 0;
      color: #fff;
      text-decoration: none;
    }
    .logo {
      width: 300px;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }

  #clubsandsocs {
    .rowHeader {
      background: $union_green;
    }
    .rowInner {
      padding: 0.8em 0 1.2em;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        margin-bottom: 0.6em;

        a {
          @include displayFlex;
          align-items: center;
          background-color: #f2f2f2;
          text-decoration: none;

          img {
            @include flexFixed(25%);
            width: 25%;
            padding: 0.2em;
          }
          .name {
            @include flex(1);
            padding: 0.4em 0.8em;
          }

          &:hover {
            img {
              animation: pulse .8s ease-out;
              animation-fill-mode: both;
            }
          }
        }
      }
    }
  }

  #employability {
    background: $grey;

    .rowHeader {
      span {
        @include displayFlex;
        align-items: center;
        justify-content: flex-start;

        i {
          font-size: 3em;
          padding-right: 0.8em;
        }
      }
    }
    .rowInner {
      padding: 0 0 0.8em;
      .button {
        width: 100%;
        height: 100%;
        display: block;
        @include displayFlex;
        @include flexAlign(center);
        font-size: 1.2em;
      }
    }
  }

  #saps {
    padding: 1em 0;
    .saps {
      img {
        width: 50%;
      }
    }
    .digitalChamps {

    }
  }
}

/* Tablet */
@media (min-width: 48em){
  .page_getinvolved main {
    .header {
      min-height: 40vh !important;
    }

    #reps {
      .span2 {
        padding-right: 0.8em;
      }
    }

    #clubsandsocs {
      ul {
        @include displayFlex;
        @include flexJustify(space-around);
        @include flexWrap(wrap);
        li {
          @include flexFixed(49%);
        }
      }
    }
    .engagementHeader .rowInner {
      position: relative;
      @include displayFlex;
      @include flexAlign(center);

      h1 {
        width: 100%;
        text-align: center;
      }
    }
  }
}

/* Desktop */
@media (min-width: 80em){
  .page_getinvolved main {
    .header {
      min-height: 50vh !important;
      background-position: top -8em center;
    }

    #clubsandsocs {
      ul {
        li {
          @include flexFixed(32%);
        }
      }
    }
  }
}
