/* Templating for the Mukky and Gobble events pages */
// Mukky specific
.page_mukky {
  &:before {
    @include fixedBackground('https://staffsunion.s3.amazonaws.com/images/events/mukky/mukky_background_web.jpg');
  }
}

.page_gobble {
  &:before {
    @include fixedBackground('https://staffsunion.s3.amazonaws.com/images/events/gobble/gobble_background_web.jpg');
  }
}

.page_mukky, .page_gobble {
  // Background Image stuff
  overflow: hidden;
  position: relative;

  main {
    width: 100%;
    background: url('https://staffsunion.s3.amazonaws.com/images/events/midnightbeast/background_spots.png');
    padding-bottom: 200px;
    margin-bottom: -200px;
  }

  // Fonts
  h2 {
    font-size: 3.2em;
  }
  h2, p {
    color: #fff;
  }

  .header {
    padding-top: 2em !important;
    padding-bottom: 2em !important;

    .span3 {
      text-align: center;
      img {
        width: 65%;
      }
    }
  }

  #leader {
    .span3 {
      text-align: center;
      p {
        font-size: 1.6em;
      }
    }
  }

  #upcoming, #tickets {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  #photos {
    padding-top: 1em;
    padding-bottom: 2em;
    background: rgba(0, 0, 0, 0.6);
    img {
      padding: 0.6em;
    }
  }

  .upcoming h2 {
    padding: 0.2em 0.4em 0.4em;
  }

  .msl_eventlist > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .msl_eventlist .event_item {
    flex: 0 0 100%;
    border: 1px solid #fff;
    padding: 0.6em 0.2em 0;
    margin-bottom: 0.8em;
    transition: background 0.2s;
  }

  .msl_eventlist .event_item:hover {
    background: rgba(255, 255, 255, 0.2);
  }

  .msl_eventlist .event_item .event_image {
    float: none !important;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .msl_eventlist .event_item .event_image img {
    max-width: 80%;
    max-height: 100px;
  }
  .msl_eventlist .event_item .msl_event_image {
    display: block;
    width: 100%;
    text-align: center;
  }
  .msl_eventlist .event_item .event_info, .msl_eventlist .event_item .event_info a {
    color: #fff;
  }
  .msl_eventlist .event_item .event_info dt {
    text-align: center;
    font-weight: 400;
  }
  .msl_eventlist .event_item .event_info dt a {
    font-size: 1.4em;
  }
  .msl_eventlist .event_item .event_info .msl_event_description {
    padding: 0.6em;
  }
  .msl_eventlist .event_item .event_info .msl_event_time, .msl_eventlist .event_item .event_info .msl_event_location {
    display: -js-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
  .msl_eventlist .event_item .event_info .msl_event_time::before, .msl_eventlist .event_item .event_info .msl_event_location::before {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    padding-right: 0.4em;
  }
  .msl_eventlist .event_item .event_info .msl_event_time::before {
    content: 'date_range';
  }
  .msl_eventlist .event_item .event_info .msl_event_location::before {
    content: 'location_on';
  }

  .tickets {
    display: block;
    background: none;
  }

  .tickets .header {
    display: flex;
    align-items: center;
  }
  .tickets .header i {
    flex:0 0 1.2em;
    color: #fff;
    font-size: 4em;
  }
  .tickets .header h2 {
    flex: 1;
    color: #fff;
    font-size: 2.8em;
    margin: 0;
  }

  .tickets .event_tickets h3 {
    color: #fff;
  }

  .tickets .event_tickets .event_ticket {
    border-left: 4px solid #fff;
    padding: 0.8em 0.8em;
    margin: 0.4em 0;
    font-size: 1.4em;
    color: #fff;
  }

  .tickets .event_tickets .event_ticket select {
    color: #000;
    padding: 0.1em 0.2em;
  }

  .tickets .event_tickets .event_ticket input {
    float: right;
    background-color: #fff;
    color: #000;
    border: 0;
    padding: 0.4em 1em;
    font-size: 0.9em;
    margin-top: -0.1em;
  }

  .tickets .event_tickets .event_ticket:hover {
    background: rgba(255, 255, 255, 0.2);
  }

  .popupWrap {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em;
    display: none;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    animation-fill-mode: both;
    animation-duration: 0.3s;
  }

  .popupWrap .popup {
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid #fff;
    width: 100%;
    padding: 1em;
  }

  .popupWrap .popup h2 {
    color: #fff;
  }

  .popupWrap .popup .options {
    display: -js-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .popupWrap .popup a {
    margin: 0.4em 0;
    flex: 0 0 90%;
    cursor: pointer;
    border: 1px solid #fff;
    padding: 0.4em 1em;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 1.1em;
  }

  .popupWrap .popup a:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .popupWrap.open {
    display: -js-flex !important;
    display: flex !important;
  }

  .popupWrap.close {
    animation-name: closePopup;
    pointer-events: none;
  }

  .msl_info, .msl_warning {
    background-color: #fff !important;
    border: 2px solid #fff !important;
    padding: 0.4em 0.8em !important;
    color: #fff;
  }

  .msl_info:before, .msl_notification span.msl_info {
    color: #000 !important;
  }

  .msl_notification .error {
    color: #fff;
    border: 1px solid #fff;
    padding: 0.4em 0.8em;
  }

  .gallery {
    background: rgba(0, 0, 0, 0.6);
    padding: 1em 0;
  }

  .gallery .images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8em;
  }

  .gallery .images .image {
    flex: 0 0 49%;
  }

  .gallery .images .image img {
    width: 100%;
  }
  .gallery h2 {
    color: #fff;
    padding: 0.1em 0 0.3em;
  }

  canvas {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	pointer-events: none;
  }
  #content {
  	position: relative;
  }

  footer {
    &::before {
      z-index: 2;
    }
    &::after {
      z-index: 1;
    }
  }
}

.page_ents.page_all {
  .events {
    padding: 0.2em 0 0.8em;
    .event_item {
      width: 96%;
      background: #f4f4f4;
      position: relative;
      padding-bottom: 2.2em;

      .event_image a {
        display: block;
        position: relative;
        width: 100%;
        height: 180px;
        background: #e7e7e7;
        background-position: center;
        background-size: cover;

        .eventTime {
          position: absolute;
          bottom: 0px;
          right: 0px;
          width: auto;
          height: 28px;
          background: #fff;
          color: $union_green;
          padding: 0.2em 0.4em;
          font-size: 0.9em;
        }
      }

      dl {
        margin: 0;
      }

      .event_info {
        dt {
          background: $union_green;
          a {
            margin: 0;
            display: block;
            color: #fff;
            padding: 0.4em 0.6em;
            text-decoration: none;
          }
        }

        dd {
          margin: 0;
        }

        .msl_event_time {
          padding: 0.2em 0.4em;
          text-align: right;
          color: #555;
        }

        .msl_event_description {
          font-size: 0.9em;
          padding-top: 0.8em;
          .eventLocation, .eventDescription {
            @include displayFlex;
          }
          .locIcon, .descIcon {
            text-align: center;
            @include flexFixed(2.4em);
          }
          .eventLocationText, .eventDescriptionText {
            @include flex(1);
            padding-right: 0.4em;
          }
        }

        .details {
          position: absolute;
          bottom: 0px;
          left: 0px;
          width: 100%;
          display: block;
          transition: background 0.2s;
          text-align: center;
          padding: 0.4em 0.6em;
          text-decoration: none;
          &:hover {
            background: $union_green_hover_clear;
          }
        }
      }

      &:hover {
        -webkit-animation: pulse 0.6s ease-out;
        animation: pulse 0.6s ease-out;
      }
    }
  }

  #intro {
    padding: 0.8em 0;
    p {
      text-align: center;
      font-size: 1.3em;
    }
  }

  #featured {
    .event_item {
      background: #fff;
    }
    background-image: url('//staffsunion.s3.amazonaws.com/2017/images/assets/events/event_crowd.svg');
    background-position: bottom;
    background-repeat: repeat-x;
  }

  #allEvents {
    .nav-tabs {
      li {
        margin: 0;
      }
      a {
        font-size: 1em;
        padding: 0.4em 0.6em !important;
      }
    
    }
    .panes {
      padding-top: 1em;
      .missing {
        img {
          width: 40%;
        }
      }
    }
  }

  .msl_rss {
    display: none;
  }
}

/*Tablet*/
@media (min-width: 48em){
  .page_mukky, .page_gobble {
    .msl_eventlist .event_item {
      flex: 0 0 49%;
    }

    .gallery .images .image {
      flex: 0 0 24%;
    }
  }

  .page_ents.page_all {
    .events {
      @include displayFlex;
      @include flexJustify(flex-start);
      @include flexWrap(wrap);
      .event_item {
        width: 48%;
        margin: 0 1% 0.8em;
      }
    }
  }
}

/*Desktop*/
@media (min-width: 80em){
  .page_mukky, .page_gobble {
    .msl_eventlist .event_item {
      flex: 0 0 24%;
    }
    .popup {
      width: 600px !important;
    }
    .popup a {
      flex: 0 0 40%;
    }
    .gallery {
      width: 100% !important;
    }
    .gallery .images {
      width: 1200px;
      margin: 0 auto;
    }
    .gallery h2 {
      width: 1200px;
      margin: 0 auto;
    }
  }

  .page_ents.page_all {
    .events {
      .event_item {
        width: 24%;
        margin: 0 0.5% 0.8em;
      }
    }

    #allEvents {
      .span3 {
        position: relative;
        &:before {
          content: '';
          position: absolute;
          left: -50px;
          top: 94px;
          background-image: url('//staffsunion.s3.amazonaws.com/2017/images/assets/events/events_hint_arrow_laptop.png');
          background-position: left 0px top 0px;
          background-size: 50px auto;
          width: 50px;
          height: 310px;
          background-repeat: no-repeat;
        }
      }
    }
  }
}

@media (min-width: 96em){
  .page_ents.page_all {
    #allEvents {
      .span3 {
        position: relative;
        &:before {
          left: -155px;
          top: 94px;
          background-image: url('//staffsunion.s3.amazonaws.com/2017/images/assets/events/events_hint_arrow.png');
          background-position: left 0px top 0px;
          background-size: 150px auto;
          width: 150px;
          height: 130px;
          background-repeat: no-repeat;
        }
      }
    }
  }
}

@keyframes closePopup {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
