/* Fonts and Typography */

// Headers
h1, h2, h3, h4, h5, h1 a, h2 a, h3 a, h4 a, h5 a {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

h1 {
  font-size: 3.6em;
  padding: 0.4em 0 0.2em;
}

h2 {
  font-size: 2.8em;
  padding: 0.25em 0 0.15em;
}

h3 {
  font-size: 2.2em;
  padding: 0.2em 0 0.1em;
}

h4 {
  font-size: 2em;
  padding: 0.2em 0 0.1em;
}

// Body Text
p, a, dd, dt, dl {
  font-family: 'Roboto', sans-serif;
}
p {
  font-size: 1.2em;
  line-height: 150%;
  font-weight: 300;
  color: #000;
  margin: 0;
  padding: 0.2em 0 0.4em;

  // Used for the leaders into a section, just a default styling
  &.leader {
    font-size: 1.3em;
    font-weight: 400;
  }
}

a {
  font-size: 1.1em;
  color: $union_green
}
a:hover {
  color: $union_green_hover;
}

/* Specifically for an anchor in another dic=v, to stop its size compounding up and looking weird */
p > a, span > a {
  font-size: 1em;
}

b {
  font-weight: 600;
}

/* Tablets*/
@media (min-width: 48em){
  h1 {
    font-size: 4.2em;
    padding: 0.6em 0 0.4em;
  }

  h2 {
    font-size: 3.2em;
    padding: 0.3em 0 0.2em;
  }

  h3 {
    font-size: 2.4em;
    padding: 0.2em 0 0.15em;
  }

  h4 {
    font-size: 2em;
    padding: 0.2em 0 0.1em;
  }

  p {
    font-size: 1.1em;
  }
}