footer {
  position: relative;
  background-color: $cyan;
  min-height: 200px;

  &:before {
    content: '';
    position: absolute;
    top: -199px;
    left: 0;
  	width: 0;
  	height: 0;
  	border-bottom: 200px solid $cyan;
  	border-right: 99vw solid transparent;
    z-index: 1;
  }

  &:after {
    content: '';
    position: absolute;
    top: -179px;
    right: 0;
  	width: 0;
  	height: 0;
  	border-bottom: 180px solid $darkCyan;
  	border-left: 70vw solid transparent;
    z-index: 0;
  }
  #footerLinks {
    padding: 0 0.4em 2em;
    h2, a, p {
      color: #fff;
    }
    h2 {
      margin: 0.1em 0;
    }
    p {
      padding: 0;
    }
    a > img {
      width: 42px;
      margin-right: 0.4em;
    }
    #unionLinks a, #universityLinks a {
      display: block;
      text-decoration: none;
      font-weight: 300;
      padding: 0.1em 0;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  #footerBottom {
    text-align: center;
    color: #fff;
    background-color: $darkCyan;
    padding: 0.8em 0;
    a {
      text-decoration: none;
    }
  }
}
