/* Header file, on every page */

header {
  background-color: $union_green;

  height: 40px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;


  .logo {
    img {
      height: 90%;
    }
  }

  .search {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 200px;
            flex: 0 0 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    .icon {

    }

    input[type="search"] {

    }
  }

  .user {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 140px;
            flex: 0 0 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    align-items: center;
    display: flex;

    .avatar {

    }
    .name {

    }
    .chevron {

    }
  }

  .basket {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
            flex: 0 0 60px;
    position: relative;

    i {

    }
    .itemCount {
      
    }
  }
}
