/* Header file, on every page */

header {
  background-color: $union_green;

  height: 40px;

  padding-left: 40px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  .logo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0.2em;
    img {
      height: 32px;
    }
  }

  .search {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 220px;
            flex: 0 0 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    .icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      i {
        color: #fff;
        font-size: 2em;
      }
    }

    .searchInput {

      input[type="search"] {
        font-size: 1.1em;
        padding: 0 0.2em;
        height: 28px;
        background: none;
        border: none;
        border-bottom: 2px solid #fff;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: $union_green_dark;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: $union_green_dark;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: $union_green_dark;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: $union_green_dark;
        }
      }
    }
  }

  .user {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 160px;
            flex: 0 0 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: flex;
    padding: 0 0.4em;

    .avatar {
      color: $union_green_dark;
      background-color: #fff;
      border-radius: 2em;
      padding: 0.2em;
      margin: 0 0.4em;
      height: 28px;
      width: 28px;
      text-align: center;
      i {
        font-size: 1.4em;
      }
    }
    .name {
      color: #fff;
      font-size: 1.1em;
      font-weight: 300;
      font-family: 'Roboto', sans-serif;
    }
    .chevron {
      i {
        color: #fff;
        font-size: 1.8em;
        margin-top: 4px;
      }
    }
  }

  .basket {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
            flex: 0 0 60px;
    position: relative;

    i {
      font-size: 2em;
      color: #fff;
    }
    .itemCount {
      position: absolute;
      bottom: 2px;
      left: 24px;
      background-color: #ec1c1c;
      color: #fff;
      text-align: center;
      width: 20px;
      height: 20px;
      padding: 2px;
      border-radius: 2em;
      font-family: 'Roboto', sans-serif;
      font-size: 0.8em;
    }
  }
}
