/* CSS classes to use around the site to make some things easier */
/* Content aligning*/
.content-center {
  text-align: center;
}
.content-left {
  text-align: left;
}
.content-right {
  text-align: right;
}
.is-center {
  margin: 0 auto;
}
.is-left {
  float: left;
}
.is-right {
  float: right;
}
.flex-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.clearer {
  clear: both;
}

/* Helper colour classes*/
.green {
    color: $union_green !important;
}
.greenBg {
    background-color: $union_green !important;
}
.darkGreen {
    color: $union_green_dark !important;
}
.darkGreenBg {
    background-color: $union_green_dark !important;
}
.pink {
    color: $pink !important;
}
.pinkBg {
    background-color: $pink !important;
}
.red {
    color: $red !important;
}
.redBg {
    background-color: $red !important;
}
.blue {
    color: $blue !important;
}
.blueBg {
    background-color: $blue !important;
}
.cyan {
    color: $cyan !important;
}
.cyanBg {
    background-color: $cyan !important;
}
.darkCyan {
    color: $darkCyan !important;
}
.darkCyanBg {
    background-color: $darkCyan !important;
}
.white {
    color: $white !important;
}
.whiteBg {
    background-color: $white !important;
}
.grey {
    color: $grey !important;
}
.greyBg {
    background-color: $grey !important;
}
.darkGrey {
    color: $darkGrey !important;
}
.darkGreyBg {
    background-color: $darkGrey !important;
}
.black {
    color: $black !important;
}
.blackBg {
    background-color: $black !important;
}
.advice {
  color: $advice_main !important;
}
.adviceBg {
  background-color: $advice_main;
}

/* Images */
img.imgResponsive {
  max-width: 100%;
  height: auto !important;
  width: auto !important;
}

img.imgStretch {
  width: 100%;
}

/* Lists */
ul.inline li {
  display: inline-block;
}
ul.noListStyle {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Video */
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}