@import "colours";
@import "mixins";

/* Sort out the backgrounds on the homepage, to ensure they all have a default white */
main section:not(:first-child) {
  background: #fff;
}

/* Homepage specific styling */
.splash {
  padding: 1em 0;
  /* Leadership Race*/
  &.leadership {

    .logo {
      width: 70%;
    }
    .content {
      text-align: center;
      padding: 0.2em 0.8em;
      video {
        display: none;
      }
    }
  }
  &.ptbs {
    .logo {
      width: 70%;
    }
    .content {
      text-align: center;
      padding: 0.2em 0.8em;
    }
  }
  &.video {
    .videoWrap {
      background: #000;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      overflow: hidden;
      video {
        z-index: -1;
        width: 200%;
        margin-left: -50%;
      }
    }
  }
  &.basshunter {
    padding: 3em 0;
    .logo {
      width: 70%;
    }
    overflow: hidden;
    min-height: 40vh;
    background: rgba(0, 0, 0, 0.6);
    .content {
      height: 100%;
      @include displayFlex;
      @include flexAlign(center);
      h3 {
        font-size: 1.6em;
      }
    }
  }
}

.row {
  z-index: 100;
  &.news {
    padding: 0.4em 0.6em 1.2em;
    overflow: hidden;
    background: #e7e7e7;
    .title {
      width: 100%;
      display: block;
      h2 {
        margin: 0;
        padding: 0.1em 0.2em;
      }
    }
    .newsWidget {
      .newsItems {
        .newsItem {
          img {
            width: 100%;
          }
        }
      }
      .newsInfo {
        .newsDescription {
          padding: 0.6em;
        }
      }
      .newsList {
        ul {
          list-style: none;
          margin: 0;
          padding: 0.6em 0.4em;
          li {
            background-color: #dfdfdf;
            display: block;
            cursor: pointer;
            margin: 0 0 0.5em 0;
            border-left: 4px solid $union_green_not_active;
            transition: background-color 200ms;
            &.active {
              background-color: rgba(80, 184, 72, 0.13);
              border-color: #50b848;
            }
            &:hover {
              background-color: rgba(80, 184, 72, 0.18);
            }
            p {
              padding: 0.4em 0.4em;
            }
          }
        }
      }
    }
  }
  &.events {
    background: #333;
    background-image: url('../assets/event_row_bg.png');
    background-size: 33% auto;

    .title {
      width: 100%;
      padding: 0.2em 0.8em;
      background-color: $union_green;
      background-image: url('../assets/event_bg.svg');
      background-size: auto 100%;

      h2 {
        color: #fff;
        margin: 0;
        padding: 0.2em 0;
      }
    }
    .eventList {
      padding: 0 0.8em;
      .msl_eventlist > div {
        padding: 0.8em 0;
        .event_item {
          width: 100%;
          margin-bottom: 0.5em;
          border-left: 6px solid $union_green;
          background-color: #fff;
          .event_image {
            display: none;
          }
          dl {
            margin: 0;
          }
          .event_info {
            dt {
              background-color: $union_green;
              padding: 0.4em 0.8em;
              @include displayFlex;
              @include flexAlign(center);
              @include flexJustify(center);
              a {
                color: #fff;
                font-size: 1.2em;
                text-decoration: none;
                text-align: center;
              }
            }
            dd {
              margin: 0;
              padding: 0.4em;
              @include displayFlex;
              @include flexAlign(center);
              font-size: 1.1em;
              line-height: 160%;
            }
            .msl_event_time::before, .msl_event_location::before {
              @include googleFont;
              font-size: 1.5em;
            }
            .msl_event_time::before {
              content: 'date_range';
            }
            .msl_event_location::before {
              content: 'location_on';
            }
            .msl_event_time, .msl_event_location {

            }
            .msl_event_description {
              padding: 0.2em 0.8em;
            }
          }
        }
      }
    }
  }
  &.news {

  }

  .studentVoice {
    .logo {
      text-align: center;
      img {
        width: 50%;
      }
    }
    .intro {
      padding: 0 0.8em;
    }
    .content {
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
          a {
            text-decoration: none;
            padding: 0.8em 1.4em 0.8em 0.4em;
            display: block;
            width: 100%;
            height: 100%;
            text-align: right;
            &:hover {
              text-decoration: none;
            }
          }
          &:nth-child(1){

          }
          &:nth-child(2){
            background: #daffd7;
          }
          &:nth-child(3){
            background: #9bf193;
            a { color: $union_green_dark; }
          }
          &:nth-child(4){
            background: #78db6f;
            a { color: #fff; }
          }
          &:nth-child(5){
            background: #62cd59;
            a { color: #fff; }
          }
        }
      }
    }
  }

  .advert {
    img {
      padding: 1em;
      width: 100%;
    }
  }

  &.socialMedia {
    background-color: rgba(29, 161, 244, 0.2);
    padding: 1em 0;

    .icons {
      width: 100%;
      ul {
        @include displayFlex();
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          flex: 1;
          text-align: center;
          img {
            width: 90%;
          }
          .name {
            display: none;
          }
        }
      }
    }
    .timeline {
      text-align: center;
      iframe {
        margin: 1em auto !important;
        width: 95% !important;
      }
    }
    .youtube {
      text-align: center;
      iframe {
        margin: 1em auto;
        border: none;
        width: 95%;
        height: 260px;
      }
    }
  }
}

/* Tablets*/
@media (min-width: 48em){
  .splash {
    &.leadership {
      .content {
        padding: 0;
        text-align: left;
        video {
          display: block;
        }
      }
    }
    &.ptbs {
      padding: 2em 0;
      .content {
        padding: 0;
        text-align: left;
      }
    }
    &.video {
      .videoWrap {
        width: 100%;
        video {
          z-index: -1;
          min-height: 100vh;
          width: 100% !important;
          margin: 0 auto;
        }
      }
    }
    &.basshunter {
      min-height: 60vh;
      padding: 0;
    }
  }
  .row {
    &.news {
      height: 332px;
      padding: 1em 0;
      position: relative;
      background-image: url('../assets/news_bg.svg');
      background-position: right center;
      background-size: auto 100%;
      background-repeat: no-repeat;
      .title {
        width: auto;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        h2 {
          color: #878787;
          position: absolute;
          transform: rotate(270deg);
          bottom: 128px;
          left: -24px;
          font-size: 4em;
        }
      }
      .newsWidget {
        @include displayFlex;
        .newsItems {
          flex: 0 0 505px;
          .newsItem {
            display: block;
            padding: 1em;
          }
        }

        .newsInfo {
          flex: 1;
          .newsDescription {
            height: 100%;
            padding: 0.4em 0.8em;
            @include displayFlex;
            justify-content: center;
            flex-direction: column;
            span {
              padding: 0.4em;
            }
          }
        }

        .newsList {
          flex: 0 0 320px;
          @include displayFlex;
          flex-direction: column;
          ul {
            flex: 1;
            padding: 0;

            li {
              &.active {

              }
              p {
                display: block;
                padding: 0.6em 0.4em;
              }
            }
          }
          .content-center {
            flex: 0 0 40px;
          }
        }
      }
    }
    &.events {
      height: 320px;
      background-size: auto 33%;
      .title {
        -ms-flex: 0 0 82px;
            -webkit-box-flex: 0;
                flex: 0 0 82px;
        width: 82px;
        overflow: hidden;
        position: relative;
        background-image: url('../assets/event_bg_vert.svg');
        background-size: 100% auto;

        h2 {
          -webkit-transform: rotate(-90deg);
                  transform: rotate(-90deg);
          padding: 0;
          position: absolute;
          bottom: 64px;
          left: -37px;
        }
      }
      .eventList {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        /* Small fix for the height of events*/
        #whatson, .msl_eventlist, .msl_eventlist > div {
          height: 100%;
        }

        .msl_eventlist > div {
          padding: 0.8em 0;
          @include displayFlex();
          @include flexJustify(space-around);
          @include flexAlign(stretch);

          .event_item {
            @include flexFixed(22%);
            background-color: #fff;
            position: relative;
            overflow: hidden;

            &:nth-child(1):after {
              background-image: url('../assets/event_barcode_1.svg');
            }

            &:nth-child(2):after {
              background-image: url('../assets/event_barcode_2.svg');
            }

            &:nth-child(3):after {
              background-image: url('../assets/event_barcode_3.svg');
            }

            &:nth-child(4):after {
              background-image: url('../assets/event_barcode_4.svg');
            }

            &:after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 16px;
              background-repeat: no-repeat;
              background-position: bottom;
              background-size: cover;
            }

            .event_image {
              display: none;
            }
            dl {
              margin: 0;
            }
            .event_info {
              dt {
                height: 78px;
                padding: 0 0.6em;
              }
              dd {
                font-size: 1em;
              }
              .msl_event_description {
                height: 100px;
                overflow: hidden;
                display: inline-block;
                position: relative;
                &:after {
                  content: '';
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  height: 16px;
                  width: 100%;
                  display: block;
                  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
                }
              }
            }
          }
        }
      }
    }
    &.socialMedia .span3 {
      @include displayFlex;
      .icons {
        width: auto;
        @include flexFixed(80px);
        ul {
          @include displayFlex;
          @include flexDirection(column);
          li {
            .platform {
              position: relative;
              display: block;
              font-size: 1em;
              &:hover .name {
                width: 240px;
              }
              &.facebook .name {
                background: $facebook_hover;
              }
              &.twitter .name {
                background: $twitter_hover;
              }
              &.snapchat .name {
                background: $snapchat_hover;
              }
              &.youtube .name {
                background: $youtube_hover;
              }
              &.instagram .name {
                background: $instagram_hover;
              }
            }
            .icon {
              width: 80px;
              height: 80px;
              img {
                z-index: 80;
                position: absolute;
                left: 0;
                top: 0;
              }
            }
            .name {
              z-index: 40;
              overflow: hidden;
              display: block;
              width: 0;
              height: 42px;
              position: absolute;
              left: 50%;
              top: 15px;
              transition: width 0.4s;
              p {
                color: #fff;
                padding: 0.6em 0.8em 0.6em 0;
                font-size: 0.9em;
                text-align: right;
              }
              &:hover {
              }
            }
          }
        }
      }
      .timeline {
        @include flex(3);
        @include displayFlex;
        @include flexAlign(center);
        @include flexJustify(flex-end);
        iframe {
          max-width: 400px !important;
          margin: 0;
        }
      }
      .youtube {
        @include flex(5);
        @include displayFlex;
        @include flexAlign(center);
        @include flexJustify(flex-end);
        iframe {
          margin: 0;
          border: none;
          width: 96%;
          height: 380px;
        }
      }
    }
  }
}
/* Desktop*/
@media (min-width: 80em){
  .row {
    &.news {
      .newsWidget {
        width: 1200px;
        margin: 0 auto;
      }
    }
    &.events {
      #whatson {
        width: 1200px;
        margin: 0 auto;
      }
    }
    .studentVoice {
      padding: 1em 0;
      position: relative;
      .logo {
        position: absolute;
        width: 200px;
        top: 0;
        left: 0;
        img {
          width: 80%;
        }
      }
      .intro {
        padding-left: 200px;
      }
      .content {
        flex: 1;
        ul {
          @include displayFlex;
          flex-direction: column;
          height: 100%;
          justify-content: center;
          li {
            flex: 1;
            @include displayFlex;
            @include flexAlign(center);
            @include flexJustify(flex-end);
          }
        }
      }
    }
  }
}

/* Slightly bigger desktop */
@media (min-width: 96em){
  .row {
    &.events {
      #whatson {
        width: 1400px;
        margin: 0 auto;
      }
    }
  }
}
