/* Styling for the main structure of the page */
main {

  section {

    &.row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      .span1, .span2, .span3 {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
      }
    }
  }
}

/* Tablets*/
@media (min-width: 48em){

}
/* Desktop*/
@media (min-width: 80em){
  main {
    section {

      &.row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        .span1 {
          -webkit-box-flex: 0;
              -ms-flex: 0 0 calc(100% / 3);
                  flex: 0 0 calc(100% / 3);
        }
        .span2 {
          -webkit-box-flex: 0;
              -ms-flex: 0 0 calc((100% / 3) * 2);
                  flex: 0 0 calc((100% / 3) * 2);
        }
        .span3 {
          -webkit-box-flex: 0;
              -ms-flex: 0 0 100%;
                  flex: 0 0 100%;
        }
      }
    }
  }
}