/* Styling for the main structure of the page */
main {
  overflow: hidden;
  section {

    &.row {
      .span1, .span2, .span3 {
        width: 100%;
      }

      video.background {
        position: absolute;
        top: 21%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        height: auto;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
        background: url('') no-repeat;
        background-size: cover;
        transition: 1s opacity;
      }
    }
  }
}

/* Tablets*/
@media (min-width: 48em){

}
/* Desktop*/
@media (min-width: 80em){
  main {
    section {
      &.row {
        @include displayFlex
        @include flexWrap(wrap);
        .rowHeader {
          flex: 0 0 100%;
          width: 100%;
          display: block;

          span {
            width: 1200px;
            margin: 0 auto;
            display: block;
          }
        }
        .rowInner {
          width: 1200px;
          margin: 0 auto;
          @include displayFlex;
          .span1, .span2, .span3 {
            position: relative;
          }
          .span1 {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 calc((100% / 3);
                -ms-flex: 0 0 calc((100% / 3);
                    flex: 0 0 calc((100% / 3);
          }
          .span2 {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 calc((100% / 3) * 2);
                -ms-flex: 0 0 calc((100% / 3) * 2);
                    flex: 0 0 calc((100% / 3) * 2);
          }
          .span3 {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 100%;
                -ms-flex: 0 0 100%;
                    flex: 0 0 100%;
          }
        }

        &.header {
          min-height: 176px;
        }
      }
    }

    video.background {
      position: absolute;
      top: 50%;
      width: auto;
    }
  }
}
