/* Styling for the main structure of the page */
main {
  overflow: hidden;
  section {
    &.row {
      .span1, .span2, .span3 {
        width: 100%;
      }

      .rowInner {
        padding: 0 0.8em;
      }

      video.background {
        position: absolute;
        top: 21%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        height: auto;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
        background: url('') no-repeat;
        background-size: cover;
        transition: 1s opacity;
      }

      &.header {
        padding: 0 2em 0 3.2em;
        min-height: 176px;
        // Cheeky font size override for mobile
        .span3 {
          min-height: 196px;
          @include displayFlex;
          @include flexAlign(center);
        }
        h1 {
          font-size: 3.4em;
          padding: 0;
        }
        h2 {
          font-size: 2.6em;
        }
      }
    }

    &:last-of-type {
      padding-bottom: 200px !important;
    }
  }
}

/* Tablets*/
@media (min-width: 48em){
  main {
    section {
      &.row {
        .span1, .span2, .span3 {
          //margin: 0 0.4em;
        }
        &.header {
          padding-left: 0;
          padding-right: 0;

          h1 {
            font-size: 4.2em;
          }
        }
      }
    }
  }
}
/* Desktop*/
@media (min-width: 80em){
  main {
    section {
      &.row {
        @include displayFlex;
        @include flexWrap(wrap);
        .rowHeader {
          flex: 0 0 100%;
          width: 100%;
          display: block;

          span {
            width: 1200px;
            margin: 0 auto;
            display: block;
          }
        }
        .rowInner {
          width: 1200px;
          margin: 0 auto;
          padding: 0;
          @include displayFlex;
          .span1, .span2, .span3 {
            position: relative;
          }
          .span1 {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 33.33%;
                    flex: 0 0 33.33%;
          }
          .span2 {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 66.66%;
                    flex: 0 0 66.66%;
          }
          .span3 {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 100%;
                    flex: 0 0 100%;
          }
          .span1-2 {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 50%;
                    flex: 0 0 50%;
          }
        }

        &.header {
          min-height: 176px;
          .span3 {
            min-height: 176px;
          }
        }
      }
    }

    video.background {
      position: absolute;
      top: 50%;
      width: auto;
    }
  }
}
