/* Useful Mixins, do not declare classes in this file */

/* For when you want to use a google material icon in a ::before or ::after*/
@mixin googleFont {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

/* Just so there is a default way of creating a flexbox*/
@mixin displayFlex($important:"") {
  display: -webkit-box #{$important};
  display: -ms-flexbox #{$important};
  display: -webkit-flex #{$important};
  display: flex #{$important};
}
@mixin displayInlineFlex($important:"") {
  display: -webkit-box #{$important};
  display: -ms-inline-flexbox #{$important};
  display: -webkit-inline-flex #{$important};
  display: inline-flex #{$important};
}
@mixin flex($grow) {
  -webkit-box-flex: $grow;
    -ms-flex: $grow;
  -webkit-flex: $grow;
          flex: $grow;
}
@mixin flexFixed($width) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 $width;
  -webkit-flex: 0 0 $width;
          flex: 0 0 $width;
}
@mixin flexWrap($wrap) {
  -webkit-box-wrap: $wrap;
      -ms-flex-wrap: $wrap;
  -webkit-flex-wrap: $wrap;
          flex-wrap: $wrap;
}
@mixin flexAlign($align) {
  -webkit-box-align: $align;
      -ms-flex-align: $align;
  -webkit-align-items: $align;
          align-items: $align;
}
@mixin flexJustify($justify) {
  -webkit-box-pack: $justify;
      -ms-flex-pack: $justify;
  -webkit-justify-content: $justify;
          justify-content: $justify;
}
@mixin flexDirection($direction) {
      -ms-flex-direction: $direction;
  -webkit-flex-direction: $direction;
          flex-direction: $direction;
}

// Fixed background, a better way of doing it which isnt so hard on the CPU
@mixin fixedBackground($img) {
  content: ' ';
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  background: url($img) no-repeat center center;
  background-size: cover;
  will-change: transform;
  z-index: -101;
}
