/* Notifications */
.msl_info {
  padding: 0.4em 0.6em;
  background: none !important;
  @include displayFlex;
  @include flexAlign(center);

  &::before {
    @include googleFont;
    content: 'info';
    padding: 0 0.2em 0 0;
  }

  a {
     color: #fff;
     padding: 0 0.2em;
  }
}

// Notifications
.msl_notification {
  padding: 0 !important;
  margin: 0 !important;
  background: none !important;
  span {
    padding: 0.4em 0.8em;
    border: none !important;
    background-image: none !important;
    @include displayFlex;
    @include flexAlign(center);
    font-weight: 400;

    &::before {
      @include googleFont;
      padding: 0 0.2em 0 0;
    }

    // Warning Notification
    &.msl_warning {
      color: #fff !important;
      background: $notification_warning;
      &::before {
        content: 'warning';
      }
    }

    // Generic Message
    &.msl_info {
      color: #fff !important;
      background: $notification_generic;
    }
  }
}

/* Navbar */
.msl_navbar {
  list-style: none;
  padding: 0;
  li {
    display: inline-block;
    margin-bottom: 0.4em;
    width: 100%;
    a {
      padding: 0.4em 0.8em;
      margin: 0 0.4em 0 0;
      color: #fff;
      background-color: $union_green;
      text-decoration: none;
      display: block;

      &:hover {
        background-color: $union_green_hover;
      }
    }
  }
}

/* MSL Dropdown */
.msl_controls_selectpage_tree, #ctl00_Main_OrganisationID_pnlTree, #ctl00_Main_SelectRequirement1_sgSelectGrouping1_pnlTree {
  table {
    width: auto !important;
    td {
      padding: 0.1em 0.2em;
      font-size: 0.8em;
    }
  }
}

/* MSL Table */
table.msl_table {
  border: none !important;
  th {
    background: $union_green !important;
    border-bottom: none !important;
    border-right: none !important;
    padding: 0.3em 0.6em !important;
    font-size: 1.1em;
    font-weight: 400;
  }
  td {
    padding: 0.3em 0.5em !important;
    a {
      text-decoration: none;
    }
    .msl_delete, .msl_basket, .msl_save, .msl_view {
      background: none !important;
      visibility: hidden;
      padding: 0;
      text-indent: 0px !important;
      overflow: initial !important;
      &:before {
        @include googleFont;
        visibility: visible;
        padding: 0.1em;
      }
    }
    .msl_delete {
      &:before {
        content: 'delete';
        color: $red;
      }
      &:hover {
        &:before {
          background: $red_hover_clear;
        }
      }
    }
    .msl_basket {
      &:before {
        content: 'shopping_basket';
        color: $union_green;
      }
      &:hover {
        &:before {
          background: $union_green_hover_clear;
        }
      }
    }
    .msl_save {
      &:before {
        content: 'save';
        color: $blue;
      }
      &:hover {
        &:before {
          background: $blue_hover_clear;
        }
      }
    }
    .msl_view {
      &:before {
        content: 'pageview';
        color: $blue;
      }
      &:hover {
        &:before {
          background: $blue_hover_clear;
        }
      }
    }
  }
}

/* MSL Ratings */
.msl-rating {
  > div > div  {
    @include displayFlex;
    @include flexAlign(center);
    & > div {
      width: auto !important;
    }
  }
  .rating-star {
    float: none !important;
    background: none;
    width: auto;
    height: auto;
    &:before {
      @include googleFont;
    }
    &.empty {
      &:before {
        content: 'star_border';
        color: #666;
      }
    }
    &.filled {
      &:before {
        content: 'star';
        color: #fede30;
      }
    }
  }
  .msl-rating-text {
    font-size: 1.1em;
  }
}

/* News Comments, hopefully all over comments too */
dl.comments {
  @include displayFlex;
  dd {
    @include flex(1);
    margin: 0 0 0.6em;
    padding: 0;
    border: none !important;
    @include displayFlex;
    @include flexDirection(column);
    .comment_details {
      background: $union_green !important;
      padding: 0.6em 0.8em;
      h3 {
        font-size: 1.4em;
      }
      .comment_date {
        color: #fff;
        font-size: 1.2em;
      }
      .comment_delete {
        background: $red;
        padding: 0.4em 0.6em;
        font-size: 1.2em;
        a {
          color: #fff;
        }
      }
    }
    .comment {
      @include flex(1);
      background: $grey;
      textarea {
        background: #fff;
        border: none;
        border-bottom: 4px solid #e2e2e2;
      }
    }
  }
  dt {
    @include flexFixed(120px);
    width: auto;
    float: none;
    margin: 0 0 0.6em;
    padding: 0.6em 0.4em;
    background: $grey !important;
    .avatar {
      border-radius: 6em;
      width: 80px !important;
      height: 80px !important;
    }
    a {
      padding: 0.6em 0;
      font-size: 1.1em;
      text-decoration: none;
      display: block;
    }
  }
}
#add_comment {
  
}

/* Tablets*/
@media (min-width: 48em){

}