/* The Navigation SCSS */
nav {
  background-color: $union_green;
  width: 25%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;

  &.closed {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }

  &.open {

  }

  .header {
    text-align: center;
    img {
      width: 90%;
    }
  }

  section {
    padding-bottom: 1em;

    .title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      i {
        color: #fff;
        font-size: 3.2em;
        padding: 0 0.2em;
      }
      h2 {
        color: #fff;
        font-size: 2em;
        margin: 0;
        padding: 0;
      }
    }
    .subtitle {
      padding: 0.2em 1.2em;
      h3 {
        color: #fff;
        font-size: 1.5em;
        margin: 0;
        padding: 0;
      }
    }
    .links {
      list-style: none;
      padding: 0;
      margin: 0 0 0.6em;
      a {
        color: #fff;
        font-size: 1.1em;
        font-weight: 300;
        text-decoration: none;
        padding: 0.2em 1em;
        display: block;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
        &:hover {
          background-color: $white_hover;
        }
      }
    }
  }
}

.quickbar {
  width: 40px;
  position: absolute;
  top: 0;
  left: 0;

  .openMenu {
    cursor: pointer;
    height: 40px;
    color: #fff;
    i {
      font-size: 2.5em;
    }
  }

  a {
    height: 44px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-decoration: none;
    color: $union_green;
    text-align: center;

    i {
      font-size: 2em;
    }

    .title {
      position: absolute;
      left: 40px;
      top: 2px;
      width: 172px;
      height: 40px;
      background-color: $union_green_hover_clear;
      display: none;
      text-align: right;
      span {
        padding: 0.55em 0.8em;
        font-size: 1.1em;
        color: #fff;
        background-color: $union_green;
        width: 100%;
        height: 100%;
        display: block;
        margin-left: 20px;
      }
      &:before {
        content: '';
      	width: 0;
      	height: 0;
      	border-top: 22px solid $union_green;
      	border-left: 22px solid transparent;
        position: absolute;
        top: 0px;
        left: 0px;
      }
      &:after {
        content: '';
        width: 0;
      	height: 0;
      	border-bottom: 22px solid $union_green;
      	border-left: 22px solid transparent;
        position: absolute;
        bottom: 0px;
        left: 0px;
      }
    }
    &:hover {
      background-color: $union_green_hover_clear;
      .title {
        display: block;
      }
    }
  }
}
