/* The Navigation SCSS */
nav#sidebar {
  background-color: $union_green;
  width: 80%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 300;
  -webkit-transform: translateX(-105%);
  -ms-transform: translateX(-105%);
  transform: translateX(-105%);

  &.close {
    animation-name: slideOutSidebar;
    animation-fill-mode: forwards;
    animation-duration: 0.8s;
    animation-delay: 0s;
  }

  &.open {
    animation-duration: 0.8s;
    animation-delay: 0s;
    animation-name: slideInSidebar;
    animation-fill-mode: forwards;
  }

  .closeButton {
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 4px;
    z-index: 100 !important;
    i {
      font-size: 2.5em;
      color: #fff;
    }
  }

  .header {
    text-align: center;
    background-image: url(https://staffsunion.s3.amazonaws.com/2017/images/assets/union/union_background_pale.png);
    background-size: cover !important;
    background-position: center center;
    background-attachment: fixed;
    img {
      width: 90%;
    }
  }

  .search {
    @include displayFlex;
    padding: 0.4em 1em 0.4em 0.6em;
    .icon {
      @include flexFixed(32px);
      @include displayFlex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      i {
        color: #fff;
        font-size: 2em;
      }
    }

    .searchInput {
      @include flex(1);
      input[type="search"] {
        width: 100%;
        font-size: 1.1em;
        padding: 0 0.2em;
        height: 28px;
        background: none;
        border: none;
        border-bottom: 2px solid #fff;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: $union_green_dark;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: $union_green_dark;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: $union_green_dark;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: $union_green_dark;
        }
      }
    }
  }

  section {
    padding-bottom: 1em;

    .title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background: #fff;
      padding: 0.4em 0;
      margin: 0.2em 0 0.4em;
      text-decoration: none;

      i {
        color: #50b848;
        font-size: 2.6em;
        padding: 0 0.2em;
      }
      h2 {
        color: #50b848;
        font-size: 1.6em;
        margin: 0;
        padding: 0;
      }
    }
    .subtitle {
      padding: 0.2em 1.2em;
      h3 {
        color: #fff;
        font-size: 1.4em;
        margin: 0;
        padding: 0;
      }
    }
    .links {
      list-style: none;
      padding: 0;
      margin: 0 0 0.6em;
      a {
        color: #fff;
        font-size: 1.1em;
        font-weight: 300;
        text-decoration: none;
        padding: 0.2em 1em;
        display: block;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
        &:hover {
          background-color: $white_hover;
        }
      }
    }
  }
}

.quickbar {
  width: 40px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;

  .openMenu {
    cursor: pointer;
    height: 40px;
    color: #fff;
    i {
      font-size: 2.5em;
    }
  }

  a {
    height: 44px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-decoration: none;
    color: $union_green;
    text-align: center;

    i {
      font-size: 2em;
    }

    .title {
      position: absolute;
      left: 40px;
      top: 2px;
      width: 172px;
      height: 40px;
      background-color: $union_green_hover_clear;
      display: none;
      text-align: right;
      span {
        padding: 0.35em 0.8em;
        font-size: 1.1em;
        color: #fff;
        background-color: $union_green;
        width: 100%;
        height: 100%;
        display: block;
        margin-left: 20px;
      }
      &:before {
        content: '';
      	width: 0;
      	height: 0;
      	border-top: 22px solid $union_green;
      	border-left: 22px solid transparent;
        position: absolute;
        top: 0px;
        left: 0px;
      }
      &:after {
        content: '';
        width: 0;
      	height: 0;
      	border-bottom: 22px solid $union_green;
      	border-left: 22px solid transparent;
        position: absolute;
        bottom: 0px;
        left: 0px;
      }
    }
    &:hover {
      background-color: $union_green_hover_clear;
      .title {
        display: block;
      }
    }
  }

  &.white {
    i {
      color: #fff;
    }
    a {
      .title {
        background-color: rgba(255, 255, 255, 0.2);
        span {
          background: #fff;
          color: $union_green;
        }
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
        .title {
          &::before {
            border-top: 22px solid #fff;
          }
          &::after {
            border-bottom: 22px solid #fff;
          }
        }
      }
    }
  }
}

/* Tablets*/
@media (min-width: 48em){
  nav {
    width: 40% !important;
    .search {
      display: none;
    }

    section {
      .title {
        i {
          font-size: 3.2em;
        }
        h2 {
          font-size: 2em;
        }
      }
      .subtitle {
        h3 {
          font-size: 1.5em;
        }
      }
      .links {
        a {
          font-size: 1.2em !important;
        }
      }
    }
  }
}

/* Desktop */
@media (min-width: 80em){
  nav {
    width: 25% !important;
  }
}

/* Animations */

@keyframes slideOutSidebar {
  from {
    -webkit-transform: translatex(0%);
    -ms-transform: translatex(0%);
    transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-105%);
    -ms-transform: translateX(-105%);
    transform: translateX(-105%);
  }
}

@keyframes slideInSidebar {
  from {
    -webkit-transform: translatex(-105%);
    -ms-transform: translatex(-105%);
    transform: translateX(-105%);
  }
  to {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
}
