// /photos/ section
.page_photos {
    .header h1 {
       margin: 0 0.1em; 
    }
    #galleries {
        display: none;
        h1 {
            display: none;
        }
    }

    .thumbnails {
        .pure-u-md-1-3 {
            @include displayFlex;
            @include flexAlign(center);
            @include flexJustify(center);
            margin: 0.4em 0;
            a {
                padding: 0.4em;
                margin: 0.4em;
                background: $grey;
                width: 100%;
                height: 100%;
                @include displayFlex;
                @include flexAlign(center);
                @include flexJustify(center);
                img {
                    display: block;
                    max-width: 80%;
                }
            }
        }
    }
}