// Profile pages

// Main profile page
#profile {
    padding-top: 2em;
    #profile_side {
        #profile_photo {
            border-radius: 8em;
            overflow: hidden;
            width: 250px;
            height: 250px;
            margin: 0 auto;
            img {
                height: 100%;
            }
        }
        .edit_profile {
            padding: 0.4em 0.8em;
            text-decoration: none;
            &:hover {
                background-color: $union_green_hover_clear;
            }
        }
    }
    #profile_main {
        h1 {
            text-align: center;
            padding-bottom: 0;
        }
        .profile_tagline {
            margin: 0 auto;
            text-align: center;
            max-width: 70%;
        }
        #profile_about {
            h2 {
                margin: 0;
                padding: 0;
                font-size: 3.2em;
            }
            dl {
                margin: 0;
                padding: 0;
            }
        }
    }
}