/* Union Dashboard */
.page_union, .page_strategy {
  .header {
    background-image: url('https://staffsunion.s3.amazonaws.com/2017/images/assets/union/union_background_pale.png');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }

  // Breadcrumb in the header
  #breadcrumb {
    padding: 0.4em 0;
    text-align: left;
  }
}