/* Union Dashboard */
.page_union, .page_strategy {
  .header {
    background-image: url('https://staffsunion.s3.amazonaws.com/2017/images/assets/union/union_background_pale.png');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }

  // Breadcrumb in the header
  #breadcrumb {
    padding: 0.4em 0;
    text-align: left;
  }
}

.page_union {
  #officers {
    .officers {

      .officer {
        margin-bottom: 0.8em;
        background-color: #eee;

        h1 {
          font-size: 2.4em;
          padding: 0.6em 0 0;
        }
        h2 {
          font-size: 2em;
          padding: 0 0 0.4em;
        }
        .pure-u-lg-2-3 {
          padding-bottom: 0.6em;
        }
        .pure-u-lg-1-3 {
          position: relative;
        }
        img {
          position: absolute;
          bottom: 0;
          width: 100%;
        }
      }
    }
  }

  #studentWins {
    background: #BCD059;
    padding: 1em 0;

    .logo {
      text-align: center;
      img {
        width: 70%;
      }
    }

    p, h2 {
      color: #fff;
    }
  }

  #strategy {
    padding: 2em 0;
  }

  #proudtobestaffs {
    background: #eee;
    padding: 1em 0;
  }
}

@media (min-width: 48em){
  .page_union {
    #officers {
      .officers {
        @include displayFlex;
        @include flexWrap(wrap);
        @include flexJustify(space-around);

        .officer {
          @include flexFixed(49%);
        }
      }
    }
  }
}
