/* Venue pages for ember, verve and squeeze */

// All
.page_ents.page_emberlounge main, .page_ents.page_verve main, .page_ents.page_squeezebox main {
	.header {
		position: relative;
		background-position: center;
		background-color: #000;
		background-size: cover;
		.span3 {
			padding: 1.2em 0;
		}
		img {
			width: 85%;
			margin: 0 auto;
			padding: 1em;
		}
	}
	.intro {
		.leader {
			font-size: 1.3em;
			padding: 1.2em 0;
		}
	}
	.status {
		position: absolute;
		bottom: 0;
		right: 4px;
		padding: 0.2em 0.5em;
		&.open {
			background: #30c129;
		}
		&.closed {
			background: #c12929;
		}
		p {
			color: #fff;
			padding: 0 !important;
		}
	}
	#map {
		width: 100%;
		height: 300px;
	}
	.times {
		padding: 0.4em;
		table {
			tr, td {
				border: none !important;
			}
		}
		#bestBarNone {
			padding: 1em 0;
			width: 55%;
			margin: 0 auto;
		}
	}
	.menuTitle {
		margin-top: 0.8em;
		@include displayFlex;
		@include flexAlign(center);
		i {
			padding: 0 0.4em 0 0.4em;
			font-size: 4em;
		}
	}
	.menu {
		padding: 0.4em;
		cursor: move;
		.menuCol {
			width: 100%;
			background: #fff;
			margin: 0 0.4em;
			padding: 0.2em;
			h2 {
				padding: 0 0 0.2em;
			}
			.menuItem {
				position: relative;
				margin-bottom: 0.6em;
				.title {
					font-size: 1.4em;
				}
				.price {
					position: absolute;
					top: 4px;
					right: 4px;
					font-size: 1.1em;
				}
				.extra {
					p {
						font-size: 0.9em;
					}
				}
			}
		}
	}
}

// Ember
.page_ents.page_emberlounge main {
	.header {
		background-image: url('//staffs-dev.ukmsl.net/pageassets/ents/emberlounge/Ember002.jpg');
		img {
			background: rgba(0, 0, 0, 0.6);
		}
	}
	.widgetwrapper {
		a {
			display: none;
		}
		.widgetcontainer > div > div:first-of-type {
			display: none;
		}
	}
	.gallery {
		padding-bottom: 1em;
		.unslider {
			position: relative;
		}
		.unslider-carousel {
			li {
				position: relative;
				height: 300px;
				overflow: hidden;
			}
			img {
				width: 100%;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		.unslider-nav {
			margin: 0 auto;
			padding: 0.4em 0;
			li {
				height: 8px;
				width: 8px;
				border-color: #fff !important;
				&.unslider-active {
					background: #fff !important;
				}
			}
		}
	}
}

// Verve
.page_ents.page_verve main {
	.header {
		background-image: url('//www.staffsunion.com/pageassets/ents/verve/hire/cara15.jpg');
		img {
			background: rgba(255, 255, 255, 0.9);
		}
	}
}

// Squeezebox
.page_ents.page_squeezebox main {
	.header {
		background-image: url('//staffsunion.s3.amazonaws.com/images/squeezebox/squeeze_3.jpg');
		img {
			background: rgba(0, 0, 0, 0.9);
		}
	}
	.unslider {
		position: relative;
		overflow: hidden;
		> .unslider-nav {
			margin: 0 auto;
			padding: 0.4em 0;
			position: absolute;
			bottom: 24px;
			left: 0;
			right: 0;
			li {
				height: 8px;
				width: 8px;
				border-color: #fff !important;
				&.unslider-active {
					background: #fff !important;
				}
			}
		}
	}
	.unslider-carousel {
			li {
				position: relative;
				height: 300px;
				overflow: hidden;
			}
			img {
				width: 100%;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	.menu {
		//background-image: url('https://staffsunion.s3.amazonaws.com/images/squeezebox/wall.jpg');
		//background-size: 50%;
		padding: 0.4em;
		.menuCol {
			background: #fff;
		}
	}
}

// Venue hire
.page_ents.page_verve.page_hire main {
	.header {
		h1 {
			padding: 0.4em 0.8em;
			background: rgba(0, 0, 0, 0.8);
			color: #fff;
			margin: 0 auto;
		}
	}
	#venueGallery {
		padding: 1em;
		background: #333;
	}
	.unslider-carousel {
		> li {
			text-align: center;
			position: relative;
			.slidemeCaption {
				background: #fff;
				padding: 0.4em 0.8em;
				margin: 0.2em auto 0;
				width: 98%;
				p {
					color: #333;
				}
			}
		}
	}
	.unslider-nav {
		margin: 0 auto;
	}
}

@media (min-width: 48em) {
	.page_ents.page_squeezebox main {
		.unslider-carousel {
			li {
				img {
					width: 100%;
				}
			}
		}
		.header {
			img {
				width: 35% !important;
			}
		}
	}
	.page_ents.page_emberlounge, .page_ents.page_squeezebox {
		.unslider-carousel {
			li {
				position: relative;
				height: 400px;
			}
		}
	}
	.page_ents.page_emberlounge main, .page_ents.page_verve main, .page_ents.page_squeezebox main {
		.header {
			.span3 {
				padding: 3em 0;
			}
			img {
				width: 60%;
			}
		}
		#map {
			height: 340px;
		}
		.intro {
			.pure-u-lg-2-3 {
				padding-right: 0.8em;
			}
		}
		.menu {
			padding: 0.8em;
			.menuContainer {
				@include displayFlex;
				@include flexWrap(no-wrap);
			}
			overflow-x: scroll;
			.menuCol {
				@include flexFixed(40%);
				padding: 0.4em 0.8em;
			}
		}
	}
}


/*Desktop*/

@media (min-width: 80em) {
	.page_ents.page_emberlounge main {
		.unslider-carousel {
			li {
				position: relative;
				height: 600px !important;
			}
		}
	}
	.page_ents.page_emberlounge main, .page_ents.page_verve main, .page_ents.page_squeezebox main {
		.menu {
			.menuCol {
				@include flexFixed(22%);
			}
		}
	}
}