// What to do dashboard

.page_whattodo {
  .whattodoHeader {
    min-height: 35vh;
    background-image: url('https://staffsunion.s3.amazonaws.com/2017/images/assets/whattodo/whattodo_header_shaded.jpg');
    background-size: cover;
    background-position: top center;
    text-align: center;

    .title {}

    .rowInner {
      @include flexDirection(column);
      @include flexAlign(center);
      @include flexJustify(center);
      @include displayFlex;
      .span1 {
        padding: 0.4em;
      }
    }

    h1, h2 {
      width: 100%;
    }

  }

  #events {
    background-image: url('//staffsunion.s3.amazonaws.com/2017/images/assets/whattodo/event_row_bg_dark_circle.png');
    background-size: auto 12.5%;
    background-color: #111;
    padding: 2em 0;
    position: relative;

    &:before, &:after {
      position: absolute;
      left: 0;
      width: 100%;
      height: 1.2em;
      content: '';
      background-size: auto 100%;
    }
    &:before {
      top: -1.1em;
      background-image: url('//staffsunion.s3.amazonaws.com/2017/images/assets/whattodo/whattodo_events_tooth_up.svg');
    }
    &:after {
      bottom: -1.1em;
      background-image: url('//staffsunion.s3.amazonaws.com/2017/images/assets/whattodo/whattodo_events_tooth_down.svg');
    }

    .gobble {

    }
    .eclipse {
      padding-top: 1.6em;
    }
    .nightout {
      .logo {
        height: 150px;
        img {
          width: 75%;
        }
      }
      p {
        color: #fff;
        font-size: 1.3em;
      }
      a.blockLink {
        border: 1px solid #fff;
        -webkit-transition: background 0.3s;
        transition: background 0.3s;
        background: transparent;
        &:hover {
          background: rgba(255, 255, 255, 0.2);
        }
      }
    }
    .allEvents {
      padding: 1.8em 0 1.2em;
      h2 {
        padding: 0.2em 0 0.6em;
      }
    }
  }

  .nightout .logo, .venue .logo, .squeeze {
    @include displayFlex;
    @include flexAlign(center);
    @include flexJustify(center);
  }

  #foodanddrink {
    background-color: #fcfbf5;
    padding: 1em 0;
    .title {
      width: 95%;
    }
    p {
      color: #160603;
      &.leader {
        font-size: 1.4em;
        text-align: center;
      }
    }
    a {
      &.blockLink {
        color: #160603;
        border: 1px solid #160603;
        -webkit-transition: background 0.3s;
        transition: background 0.3s;
        background: transparent;
        &:hover {
          background: rgba(22, 6, 3, 0.2)
        }
      }
    }
    .venue {
      .logo {
        height: 170px;
        a {
          width: 100%;
        }
      }
      &.verve {
        img {
          width: 62%;
        }
      }
      &.ember {
        img {
          width: 90%;
        }
      }
    }

    .squeezeLogo {
      padding: 2em;
      img {
        width: 90%;
      }
    }

    .venue, .squeeze {
      position: relative;
    }

    .venue {
      .status {
        top: 0px;
        right: 0px;
      }
    }

    .squeezeBox {
      .status {
        top: 0px;
        left: 0px;
      }
    }

    .status {
      position: absolute;
      padding: 0.2em 0.5em;
      &.open {
        background: #30c129;
      }
      &.closed {
        background: #c12929;
      }
      p {
        color: #fff;
        padding: 0 !important;
      }
    }
  }

  #whatElse {
    background: #392877;
    .title {
      width: 95%;
    }
  }
}

/* Tablet */
@media (min-width: 48em){
  .page_whattodo {
    .whattodoHeader {
      min-height: 40vh !important;
      .rowInner {
        min-height: 40vh !important;
      }
    }

    #events {
      .eclipse {
        padding-top: 0 !important;
      }
      .nightout {
        .logo {
          height: 180px;
        }
      }
    }

    #foodanddrink {
      .title {
        width: 80%;
      }
    }

    #whatElse {
      .title {
        width: 80%;
      }
    }
  }
}

/* Desktop */
@media (min-width: 80em){
  .page_whattodo {
    .whattodoHeader {
      min-height: 50vh !important;
      background-position: top -8em center;
      .rowInner {
        min-height: 50vh !important;
      }
    }
    #events {
      .title {

      }
    }
  }
}