/*Dropdown Menu*/
main .dropdown {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 0.3em 0;

  > .dropdownTitle {
    padding: 0.5em 0.6em;
    font-size: 1.2em;
    font-weight: 300;
    cursor: pointer;
    background-image: url(//staffsunion.s3.amazonaws.com/images/icons/icon_arrow_white.svg);
    background-repeat: no-repeat;
    background-position: top 12px right 12px;
    background-size: auto 18px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  > .dropdownTitle.dropped {
    background-image: url(//staffsunion.s3.amazonaws.com/images/icons/icon_arrow_white_up.svg);
  }

  > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 101;
    > li {
      padding: 0.2em 0.6em;
      font-weight: 300;
      &:hover {
        background-color: rgba(0, 0, 0, 0.06);
      }
      > a {
        width: 100%;
        height: 100%;
        display: block;
      }
      a, p {
        padding: 0.4em 0.8em !important;
      }
    }
  }

}
